/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.column {
    display: inline-block;
}

.hexagon:hover
{
    background-color: #666666;
}

.hexagon {
    position: relative;
    width: 60px;
    height: 34.64px;
    background-color: #64C7CC;
    margin: 17.32px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    font-size: 24px;
    text-align: center;

}

.hex-text{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 42.43px;
    height: 42.43px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 7.7868px;
}

.hexagon:before {
    top: -22px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333;
}

.hexagon:after {
    bottom: -22px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333;
}


.even{
    left: 31px;
}