/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.column {
    display: inline-block;
}

canvas {
    border:0;
    display:block;
    margin:0 auto;
}

.hexagon:hover{
    background-color: #000000;
}

.hexagon {
    position: relative;
    width: 28px;
    height: 17.32px;
    background-color: #64C7CC;
    margin: 7.66px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 20.21px;
    height: 20.21px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 3.3934px;
}

.hexagon:before {
    top: -10.6066px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333;
}

.hexagon:after {
    bottom: -10.6066px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333;
}

.even{
    left: 15px;
}