/* Styles for the map grid */
.column {
  display: inline-block;
}

.hexagon {
  position: relative;
  width: 60px;
  height: 34.64px;
  margin: 17.32px -4px 0 0;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
  font-size: 24px;
  text-align: center;

}

.hex-text{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 43px;
  height: 43px;
  -webkit-transform: scaleY(0.53) rotate(-45deg);
  -ms-transform: scaleY(0.53) rotate(-45deg);
  transform: scaleY(0.53) rotate(-45deg);
  background-color: inherit;
  left: 7px;
}

.hexagon:before {
  top: -22px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
}

.hexagon:after {
  bottom: -22px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
}


.even{
  left: 31px;
}

#grid{
  height: 700px;
  overflow: auto;
  white-space: nowrap;
}