<!DOCTYPE html>
<html>
  <head>
    <title>HexGrid</title>
    <!-- Ruby on Rails + Windows.  It just works-->
    <link rel="stylesheet" type="text/css" href="./assets/application.css">
    <script src="./assets/application.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
